---
import { Seo } from "@restaurants-lb/ui";

const { pathname } = Astro.url;

const URL = "https://city-subs.vercel.app";
---

<!doctype html>
<html lang="en">
  <head>
    <Seo
      meta={{
        title: "City Subs",
        description:
          "City Subs - Bringing the best subs, burgers and desserts to Lagos",
        image: `${URL}/images/logo.png`,
        feed: `${URL}/`,
        ogUrl: `${URL}${pathname}`,
        author: {
          name: "City Subs",
        },
      }}
    />
  </head>

  <body>
    <slot />
    <style is:global></style>
  </body>
</html>
