---
import { Seo } from "@restaurants-lb/ui";

const { origin, pathname } = Astro.url;
---

<!doctype html>
<html lang="en">
  <head>
    <Seo
      meta={{
        title: "City Subs",
        description:
          "City Subs - Bringing the best subs, burgers and desserts to Lagos",
        image: `${origin}/images/logo.png`,
        feed: `${origin}/`,
        ogUrl: `${origin}${pathname}`,
        author: {
          name: "City Subs",
        },
      }}
    />
  </head>

  <body>
    <slot />
    <style is:global></style>
  </body>
</html>
