---
import Pill from "./Pill.astro";
type Props = {
  categories: string[];
};
const { categories } = Astro.props;
---

<section
  class="mx-auto flex w-full max-w-8xl flex-nowrap items-center justify-start space-x-4 overflow-x-auto px-8 pb-8 pt-16 md:justify-center"
>
  {
    categories.map((category, i) => {
      return (
        <Pill
          data-filter-id={`category-filter-${i}`}
          className="category-filter"
        >
          {category}
        </Pill>
      );
    })
  }
</section>

<script>
  const categoryFilters = document.querySelectorAll(".category-filter");

  // Get the initial category parameter from the URL
  const searchParams = new URLSearchParams(window.location.search);
  let categoryParam = decodeURIComponent(
    searchParams.get("category") || "all-categories"
  ).replace(/-/g, " "); // Convert dashes back to spaces

  // Function to update the active state of the pills
  function updatePillActiveState(selectedCategory: string) {
    const lowerCaseCategory = selectedCategory.toLowerCase(); // Convert to lowercase
    categoryFilters.forEach((filter) => {
      // @ts-ignore
      const category = filter.textContent.trim().toLowerCase(); // Convert to lowercase
      filter.setAttribute(
        "data-pill-active",
        category === lowerCaseCategory ? "true" : "false"
      );
    });
  }

  // Initialize active state of pills based on the decoded categoryParam
  updatePillActiveState(categoryParam);

  // Add click event listeners to category filters
  categoryFilters.forEach((filter) => {
    filter.addEventListener("click", (event) => {
      // @ts-ignore
      const category = event.target.textContent.trim();
      const lowerCaseCategory = category.toLowerCase(); // Convert to lowercase
      const encodedCategory = encodeURIComponent(
        lowerCaseCategory.replace(/ /g, "-")
      );
      searchParams.set("category", encodedCategory);
      // Update the URL with the selected category
      const newUrl = `${window.location.pathname}?${searchParams.toString()}`;
      window.history.pushState({}, "", newUrl);
      // Update the active state of the pills
      updatePillActiveState(lowerCaseCategory);
    });
  });
</script>
