---
import type { HTMLAttributes } from "astro/types";
interface Props extends HTMLAttributes<"button"> {
  variant?: "primary" | "secondary";
  className?: string;
}

const { className, variant = "primary", ...props } = Astro.props;
---

<button
  {...props}
  class:list={[
    "inline-flex text-gray-800 text-xs font-medium items-center bg-white justify-center gap-1 border border-slate-200 rounded-full px-3 py-2 shadow-inner whitespace-nowrap",
    {
      "data-[pill-active=true]:bg-yellow-300 data-[pill-active=true]:border-none":
        variant === "primary",
      "data-[pill-active=true]:bg-neutral-900 data-[pill-active=true]:border-none data-[pill-active=true]:text-white":
        variant === "secondary",
    },
    className,
  ]}
>
  <slot />
</button>
