---
import {
  ProductList,
  Navbar,
  CategoriesFilter,
  CartDrawer,
} from "@restaurants-lb/ui";

import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="relative">
    <Navbar>
      <img
        src="/images/city-subs-logo.png"
        alt="City Subs Logo"
        class="h-8 w-auto sm:h-10"
      />
    </Navbar>
    <CategoriesFilter
      categories={[
        "All Categories",
        "Classic sub",
        "Premium sub",
        "Salads",
        "Burgers",
        "Sides",
        "Drinks",
      ]}
    />
    <ProductList
      products={[
        {
          id: "1",
          name: "Chicken quesadillas",
          category: "Classic sub",
          description:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed",
          price: 3500,
          image:
            "https://hips.hearstapps.com/hmg-prod/images/chicken-quesadilla-index-64515c8e98e28.jpg?crop=0.565xw:1.00xh;0.181xw,0&resize=1200:*",
        },
        {
          id: "2",
          name: "Chicken quesadillas",
          category: "Classic sub",
          description:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed",
          price: 3500,
          image:
            "https://hips.hearstapps.com/hmg-prod/images/chicken-quesadilla-index-64515c8e98e28.jpg?crop=0.565xw:1.00xh;0.181xw,0&resize=1200:*",
        },
        {
          id: "3",
          name: "Chicken quesadillas",
          category: "Classic sub",
          description:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed",
          price: 3500,
          image:
            "https://hips.hearstapps.com/hmg-prod/images/chicken-quesadilla-index-64515c8e98e28.jpg?crop=0.565xw:1.00xh;0.181xw,0&resize=1200:*",
        },
        {
          id: "4",
          name: "Chicken quesadillas",
          category: "Classic sub",
          description:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed",
          price: 3500,
          image:
            "https://hips.hearstapps.com/hmg-prod/images/chicken-quesadilla-index-64515c8e98e28.jpg?crop=0.565xw:1.00xh;0.181xw,0&resize=1200:*",
        },
        {
          id: "5",
          name: "Chicken quesadillas",
          category: "Classic sub",
          description:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed",
          price: 3500,
          image:
            "https://hips.hearstapps.com/hmg-prod/images/chicken-quesadilla-index-64515c8e98e28.jpg?crop=0.565xw:1.00xh;0.181xw,0&resize=1200:*",
        },
        {
          id: "6",
          name: "Chicken quesadillas",
          category: "Classic sub",
          description:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed",
          price: 3500,
          image:
            "https://hips.hearstapps.com/hmg-prod/images/chicken-quesadilla-index-64515c8e98e28.jpg?crop=0.565xw:1.00xh;0.181xw,0&resize=1200:*",
        },
        {
          id: "7",
          name: "Chicken quesadillas",
          category: "Classic sub",
          description:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed",
          price: 3500,
          image:
            "https://hips.hearstapps.com/hmg-prod/images/chicken-quesadilla-index-64515c8e98e28.jpg?crop=0.565xw:1.00xh;0.181xw,0&resize=1200:*",
        },
        {
          id: "8",
          name: "Chicken quesadillas",
          category: "Classic sub",
          description:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed",
          price: 3500,
          image:
            "https://hips.hearstapps.com/hmg-prod/images/chicken-quesadilla-index-64515c8e98e28.jpg?crop=0.565xw:1.00xh;0.181xw,0&resize=1200:*",
        },
        {
          id: "9",
          name: "Chicken quesadillas",
          category: "Classic sub",
          description:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed",
          price: 3500,
          image:
            "https://hips.hearstapps.com/hmg-prod/images/chicken-quesadilla-index-64515c8e98e28.jpg?crop=0.565xw:1.00xh;0.181xw,0&resize=1200:*",
        },
        {
          id: "10",
          name: "Chicken quesadillas",
          category: "Classic sub",
          description:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed",
          price: 3500,
          image:
            "https://hips.hearstapps.com/hmg-prod/images/chicken-quesadilla-index-64515c8e98e28.jpg?crop=0.565xw:1.00xh;0.181xw,0&resize=1200:*",
        },
      ]}
    />
    <CartDrawer />
  </main>
</Layout>
